
.wp-scale{
    border: 1px solid #E5E8EC;
    border-radius: 8px;
    padding: 16px;
    width: 49.3%;
}
.scale-txt{
    font-family: 'Google Sans';
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
}

.scale-list {
    margin-top: 26px;
}

/* item */

