.column-chosen{
    width: 50%;
    padding-top: 33px;
}

.column-chosen-txt{
    font-size: 16px;
    font-family: 'Google Sans';
    font-weight: bold;
    padding-left: 24px;
}

.chosen-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.chosen-item-blank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #FF82B4;
    border-radius: 6px;
    padding: 10px;
    margin-left: 10px;
}

.chosen-item-title{
    font-size: 14px;
    -webkit-user-select: none;
}

.chosen-item-box{
    cursor: pointer;
}

.chosen-item-icon{
    cursor: pointer;
}

.value-chosen {
    margin-top: 26px;
    height: 445px;
    overflow-y: scroll;
    padding-left: 24px;
    margin-right: 8px;
    padding-right: 8px;
}

.value-chosen::-webkit-scrollbar {
    width: 8px;
}
.value-chosen::-webkit-scrollbar-thumb {
    background: #D2D4DB;
    border-radius: 4px;
}

.value-chosen ul {
    padding: 0;
}